/* core styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: teal;
}

a {
  text-decoration: none;
  color: white;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  display: block;
  width: 100%;
  margin: 5px auto;
  padding: 0.25rem;
  background-color: white;
}

input[type='submit'] {
  display: block;
  margin: 5px auto;
  padding: 5px;
  color: white;
  background-color: teal;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.btn {
  background-color: teal;
  color: rgba(255, 255, 255, 0.952);
  font-size: 15px;
  padding: 5px 5px;
  margin: 5px 5px;
  border-radius: 15px;
}

.deleteBtn {
  background-color: rgb(245, 65, 45);
  color: rgba(255, 255, 255, 0.952);
  font-size: 15px;
  padding: 2px 5px;
  margin: 5px 5px;
  border-radius: 15px;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.smallText {
  font-size: small;
}

.defaultHeader {
  color: rgba(255, 255, 255, 0.952);
  font-size: 45px;
  position: relative;
  animation: blink-header 1s linear infinite;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  background-color: transparent;
}

/* navbar styles */
.navbar {
  text-align: right;
  margin: 5px 5px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.473);
}

.navbar > a {
  color: rgba(255, 255, 255, 0.952);
  margin: 10px 10px;
}

/* landing page styles */
.landing {
  position: relative;
  height: 100vh;
  text-align: center;
  background: url('../img/Girl-hand-laptop-working.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.landingHeader {
  color: rgba(255, 255, 255, 0.952);
  font-size: 45px;
  height: 150px;
  position: relative;
  animation: move-landing-header, blink-header 1s linear infinite;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  background-color: transparent;
}

@keyframes move-landing-header {
  0% {
    top: -100px;
  }
  100% {
    top: 90px;
  }
}

@keyframes blink-header {
  50% {
    opacity: 0;
  }
}

.landingLinks {
  position: relative;
  top: 15px;
  z-index: 1;
  background-color: transparent;
}

/* register and login page styles */
.authBox {
  background-color: rgb(241, 241, 241);
  padding: 30px 20px;
  margin: 20px 400px;
  border-radius: 20px;
  text-align: left;
}

.authPic {
  position: relative;
  animation: move-auth-pic;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes move-auth-pic {
  0% {
    left: -600px;
  }
  100% {
    left: 0px;
  }
}

/* dashboard styles */
.submissionBox {
  background-color: rgb(241, 241, 241);
  padding: 30px 20px;
  margin: 20px 400px;
  border-radius: 20px;
  text-align: left;
}

.subredditTableAndDeleteBtn {
  margin: 30px 0px;
}

.subredditTable {
  background-color: rgb(241, 241, 241);
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.subredditTable div.line {
  height: 1px;
  background: #ccc;
  margin: 0.1rem 0;
}

/* settings page styles */
.sectionBox {
  padding: 30px 20px;
  margin: 20px 400px;
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  text-align: left;
}

.phoneNumAndDeleteBtn {
  display: flex;
  margin: 5px 5px;
}

.phoneNumDeleteBtn {
  margin: 0px 10px;
}

/* .sectionBox div.line {
  height: 1px;
  background: #ccc;
  margin: 0.5rem 0;
} */
